@{
    ViewData["Tittle"] = "Apagar Usuário";
}
<div class="text-danger text-lg-center">
    <h3>VOCÊ REALMENTE DESEJA APAGAR ESTE CONTATO?</h3>
    <div class="btn-outline-danger border-warning">
        <br />
        <h4><strong>NOME DO CONTATO</strong></h4>
        <br />
    </div>
</div>
<br />
<div class="text-center">
<a class="btn btn-secondary btn-lg btn-outline-light" role="button" asp-controller="Usuario" asp-action="ListaUsuario">Cancelar Exclusão</a>
<br />
<br />
    <a class="btn btn-warning btn-lg btn-outline-danger" asp-controller="Usuario" asp-action="Apagar">Confirmar Exclusão</a>
</div>

