
@{
    ViewData["Tittle"] = "Sobre";
}

<head>
  <style>
    body {      
      line-height: 1.6;
      padding: 20px;
    }

    h1 {
      color: #333;
      font-size: 28px;
      margin-bottom: 20px;
    }

    p {
      color: black;
      font-size: 20px;
      margin-bottom: 10px;
    }

    
  </style>
</head>
<body>
  <h1>Bem-vindo ao <strong class="meutreino">Meu Treino!</strong></h1>
  <p>Aqui no <span class="highlight">Meu Treino</span>, o seu parceiro de jornada fitness, estamos aqui para ajudá-lo a alcançar seus objetivos de forma personalizada e eficiente. Acreditamos que cada pessoa é única e tem necessidades específicas quando se trata de atividades físicas.</p>
  <p>Com uma abordagem inclusiva e diversificada, celebramos a individualidade e reconhecemos que todos têm diferentes níveis de condicionamento físico, preferências de exercícios e metas pessoais. Nossa plataforma oferece uma ampla variedade de opções de treino, desde exercícios em casa até atividades ao ar livre, para que você possa encontrar a modalidade que mais se encaixa no seu estilo de vida.</p>
  <p>Nosso objetivo é ajudá-lo a construir uma rotina de exercícios de forma fácil e prazerosa. Com planos de treino personalizados, você terá acesso a exercícios adequados ao seu nível de condicionamento e orientações especializadas para alcançar resultados efetivos. Além disso, nossa plataforma oferece recursos de acompanhamento de progresso, permitindo que você visualize seu desenvolvimento ao longo do tempo e se mantenha motivado.</p>
  <p>No <span class="highlight">Meu Treino</span>, acreditamos que todos merecem se sentir bem consigo mesmos e ter uma vida saudável. Estamos aqui para apoiá-lo em sua jornada, fornecendo todas as ferramentas e recursos necessários para que você alcance o melhor de si mesmo. Então, não espere mais! Junte-se a nós e comece a sua jornada fitness hoje mesmo. Sua transformação começa aqui no <span class="highlight">Meu Treino</span>!</p>
</body>


