@model IEnumerable<Meu_Treino.Models.Dtos.ExerciciosPlano>

@{
    ViewData["Title"] = "Planos de Treino";
}
<div class="border border-light shadow rounded roundedalign-content-lg-around p-4">
@if (Model.Count() > 0)
{
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2">
                        <span class="badge badge-info"> @Html.DisplayFor(modelItem => item.Repeticoes)</span>
                    </div>

                    <div class="col-2">
                            <h4>Nome do Exercicio</h4> <a asp-action="Index" asp-controller="Exercicio">
                        @Html.DisplayFor(modelItem => item.Exercicio.Nome) </a>
                    </div>

                        <div class="col-2">
                            <h4>Reperiçõs:</h4>
                            @Html.DisplayFor(modelItem => item.Repeticoes)
                        </div>
                    <div class="col-2">
                        <h4>Series:</h4>
                        @Html.DisplayFor(modelItem => item.Series)
                    </div>

                    <div class="col-4">
                        <a class="btn btn-sm btn-outline-danger rounded-circle">
                            <i class="fa fa-times-circle">
                            </i>
                        </a>
                    </div>

                </div>
            </li>
        }
    </ul>
}
else
{
    <p class="alert alert-warning rounded rounded-3">Sem Exercicios Ainda</p>
}

</div>


<div class="col-2">
    <a asp-action="CriarExercicioPlano" asp-controller="ExercicioPlano" class="btn btn-sm btn-outline-warning"><strong class="text-black">Novo Exercicio</strong></a>
</div>

