@{
    Layout = "_LayoutDeslogada";
    ViewData["Tittle"] = "Pagina";
}

<div>
    <h1>
        <p> Arrumar esta pagina
            com as seguintes condições, fazer com que a lista só aparece em um layout para
            ADM
        </p>
    </h1>
    <p>Filtro para pagina
        <a asp-controller="Home" asp-action="Index"> Click aqui</a>
    </p>
</div>