@{
    ViewData["Tittle"] = "Página Inicial";
}

<div class="modal-body"><div>
        
        <article class="text-center">
            
            <p>
                <h1>Bem-vindo ao <strong class="highlight">Meu Treino!</strong></h1>
                <hr>

            <p class="font-monospace index-font">
                Aqui é o lugar certo para você que está em busca de criar uma
                rotina de exercícios físicos personalizada e eficiente. Nós entendemos que iniciar uma 
                prática regular de atividades físicas pode ser desafiador, especialmente quando você não 
                sabe por onde começar. Mas não se preocupe, estamos aqui para te ajudar!
            </p>
            
            <br>

            <div class="text-center">
            <a class="btn btn-outline-warning text-dark btn-group-lg" id="confirmarExclusaoBtn" asp-action="Criar" asp-controller="PlanoTreino"role="button">Criar Seu Treino</a>
            </div>

            <br>
            <p class="font-monospace index-font">
                No <strong class="highlight">Meu Treino</strong>, acreditamos que movimentar-se é fundamental para uma vida equilibrada e saudável.
                Nossa plataforma oferece uma ampla gama de opções de exercícios, desde atividades recreativas até 
                treinos mais intensos, permitindo que cada indivíduo encontre algo que se encaixe em sua rotina e 
                preferências. Com orientações detalhadas e instruções claras, buscamos fornecer um guia confiável 
                para auxiliar os usuários na prática correta dos exercícios. Seja você um iniciante em busca de 
                novas opções de lazer ou alguém que deseja construir uma rotina consistente de atividades físicas, o Meu Treino está aqui para ajudá-lo a alcançar seus objetivos de forma fácil e acessível. Junte-se a nós e comece a desfrutar dos benefícios de um estilo de vida ativo e saudável.
            </p>
        </article>
        <div style="text-align:center;">
            <img src="/meninkabola.jpg" style="width:40%;" />
        </div>


    </div>
</div>

